/*********************************
 * NetEng-Pro Default Stylesheet *
 * Last Updated: 8/26/2024       *
 ********************************/

body {
  font-family: "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 16px;
  margin: 10px;
  background-color: #252525;
  color: #ffffff;
}

/* parent link element */
a {
  font-family: "Arial", "Helvetica", "Verdana", sans-serif;
  text-decoration: none;
  align-content: center;
}

/* unvisited link */
a:link {
  color: #0080c0;
}

/* visited link */
a:visited {
  color: #0000ff;
}

/* mouse over link */
a:hover {
  color: #4040c0;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #004080;
  text-decoration: underline;
}

h1 {
  font-family: "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 20px;
  text-align: center;
}

h2 {
  font-family: "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 18px;
  text-align: center;
  font-variant: small-caps;
  text-transform: lowercase;
}

/* parent table settings */
table {
  border-spacing: 0;
  padding: 0;
  background-color: transparent;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

/* parent table heading and cell data */
th,td {
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

/* parent table row */
tr {
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

/* NetEng-Pro logo table */
header .logo {
  width: 50%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

/* subheading */
/* header .subhead {
  font-size: 18px;
  text-align: center;
  font-variant: small-caps;
  text-transform: lowercase;
} */

/* github callout table */
main-content .ghtable {
  width: 40%;
  padding: 5px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

/* copyright and license */
.copyright {
  font-size: 12px;
}

/* display of badges */
.badgetable {
  width: 5%;
  padding: 5px;
  margin-right: auto;
  margin-left: 0;
}

/* badge table cell data */
/* .badgetable-td {
  width: fit-content;
  height: fit-content;
} */
