/*********************************
 * NetEng-Pro Default Stylesheet *
 * Last Updated: 9/9/2024        *
 ********************************/

body {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  margin: 5px;
  background-color: #252525;
  color: #ffffff;
}

/* parent link element */
a {
  text-decoration: none;
  align-content: center;
}

/* unvisited link */
a:link {
  color: #0080c0;
}

/* visited link */
a:visited {
  color: #0000ff;
}

/* mouse over link */
a:hover {
  color: #4040c0;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #004080;
  text-decoration: underline;
}

/* primary heading */
h1 {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 22px;
  text-align: center;
  font-variant: small-caps;
}

/* subheading */
h2 {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
}

/* table element */
table {
  border-spacing: 0;
  padding: 0;
  background-color: transparent;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

/* table heading and cell data elements */
th,td {
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

/* table row element */
tr {
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

/* NetEng-Pro logo table */
.logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* github callout table */
#main-content .ghtable {
  width: 50%;
  padding: 1px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

#license {
  font-size: 12px;
  vertical-align: middle;
}

/* #license .badge {
  font-size: 12px;
  vertical-align: middle;
} */

/* copyright and license */
/* #license .copyright {
  font-size: 12px;
  vertical-align: middle;
} */

/* display of badges */
.badgetable {
  width: 5%;
  margin-right: auto;
  margin-left: 0;
}

/* badge table cell data */
/* .badgetable-td {
  width: fit-content;
  height: fit-content;
} */
