# SPDX-License-Identifier: CC-BY-4.0 OR GPL-3.0-or-later
# This file is part of Network Pro.
#
# Supported browsers

defaults and fully supports es6-module
maintained node versions
last 2 node major versions
last 2 versions
not dead
